body{
  background: #001821;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.42;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a{
  color: inherit;
}
.header{
  height: 120px;
  position: relative;
  margin-bottom: 72px;
}

.contacts{
  position: absolute;
  top: 21px;
  right: 0px;
  text-align: right;
  font-style:normal;
}
.contacts__text__footer{
  font-size: 11px;
  color: #9A9A9A;
}
.contacts__tel{
  font-size: 26px;
  line-height: 35.41px;
  text-decoration: none;
  margin-bottom: 40px;
}
.contacts__text{
  font-size: 13px;
  line-height: 8px;
  text-decoration: underline;
  color: #ffffff;
}
.contacts__text__active{
  color: #DA0100;
  text-decoration: underline;
}
.section{
  margin: 0 auto;
  width: 1140px;
}
.main{
  margin: 0 auto;
  width: 1140px;
  margin-bottom:57px ;
}
.logo{
  display: block;
  position: absolute;
  top:23px ;
  left:0px ;
}
.menu{
  position: absolute;
  top: 35px;
  left: 164px;
} 


ul {
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

*{
  box-sizing: border-box;
}
h1,h2,h3,h4 {
  margin: 0;
  font-weight: normal;
}
.menu__item{
  display: inline;
  vertical-align: middle;
  margin-right:51px ;
}
.menu__item__active{
  color: #DA0100;
}
.menu__item:last-child{
margin-right: 0;
}
.menu__link{
  text-decoration: none;
}
.menu__link:hover{
  color: #DA0100;
}
.preview{
  width: 520px;
  text-align: left;
  margin-bottom: 246px;
}
.preview__title{
  font-size: 75px;
  line-height: 98px;
  font-weight: 600;
  margin-bottom: 30px;
  font-style: normal;
}
.preview__text{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 32.5px;
}
.button{
  display: inline-block;
  background: #F5170E;
  border: 1px solid #F5170E;
  padding: 17px 40px;
  color: #FFFFFF;
  text-transform:uppercase;
  text-decoration:none;
  font-weight: bold;
  line-height: 19px;
  border-radius: 35px
}
.button:hover{
  background: #DA0100;
  box-shadow: 0 0 25px 0 rgb(224, 71, 71,0.3);
}
.features{
  margin-bottom: 127px;
}
.features__title-text{
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin-bottom: 51px;
  display: inline-block;
}

.features__title-icon{
  display: inline-block;
  margin-left: 9px;
}

.features__item{
  min-height: 450px;
  display:inline-block;
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  margin-right: 23px;
  width: 362px;
}
.features__item:last-child{
  margin-right: 0;
}

.features__img-wrap{
  position: relative;
  min-height: 144px;
  margin-bottom: 34px;
}
.features__img{
  position: absolute;
}
.features__content{
  padding: 0px 23px;
}
.features__subtitle{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.6px;
  margin-bottom: 20px;
}
.features__desc-text{
  line-height: 21px;
  color: #303030;
  margin-bottom: 24.5px;
}
.features__desc{
  margin-bottom: 22.5px;
  padding-left: 6px;
}
.features__desc-block{
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #303030;
  width: 120px;
  margin-right: 28px;
}
.features__desc-block:last-child{
  margin-right: 0;
}

.features__desc-block-text{
  display: inline-block;
  vertical-align:30%;
}
.features__desc-block-icon{
  margin-right: 4px;
}

.features__button{
  background: #ffffff;
  color: #F5170E;
  font-weight: 700;
  padding: 18px 27px;
}

.features__button:hover{
  background: #F5170E;
  color: #FFFFFF;
}

.features__button__active:active{
  background: #F5170E;
}
.news__title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 51px;
}
.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right:22px;
}
.news__item:last-child{
  margin-right: 0;
}
.news__icon-pic{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
}
.news__text-content{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 31px;
  min-height: 165px;
}
.news__subtitle{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5.5px;
}
.news__text{
  font-size: 16px;
}
.news__list{
  margin-bottom: 51.5px;
}
.paginator{
  text-align: center;
}
.news{
  margin-bottom: 142.5px;
}
.news__date{
  display: inline-block;
  margin-bottom: 11px;
}
.paginator__list, .paginator__display{
  display: inline-block;
  vertical-align: middle;
}
.paginator__display{
  margin-right: 25px;
  font-size: 16px;
}
.paginator__item{
  display: inline-block;
  vertical-align: middle;
}
.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.paginator__item__active .paginator__link{
  background: #FFFFFF;
  color: #F5170E;
}
.paginator__link:hover{
  background: #FFFFFF;
  color: #F5170E;
}
.about:before{
  content: "";
  display: inline-block;
  width: 487px;
  height: 504px;
  background: url("./img/gates.png") center center / cover no-repeat;
}

.about__us{
  width: 786px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  margin-left: -138px;
  margin-top: 97px;
}
.about__img-wrap-second{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__content{
  position: absolute;
  min-height: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 70px 202px 67px 81px;
}
.about__title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 39px;
  color:#000000;
}
.about__text{
  color:#060606;
  font-size: 16px;
  margin-bottom: 69px;
  line-height: 27px;
}
.about__text p{
  margin-bottom: 20px;
}
.about__text p:last-child{
  margin-bottom: 0px;
}

.footer{
  height: 100px;
  position: relative;
  margin-top: 22px;
}
.socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__item:last-child{
  margin-right: 0px;
}
.socials{
  position: absolute;
  top: 26px;
  right: 252px;
}
.socials__item__icon__tg .socials__link{
  background-image:url("./img/telegram.png") ;
}
.socials__item__icon__tg .socials__link:hover{
  background-image:url("./img/telegram-hover.png") ;
}
.socials__item__icon__vk .socials__link{
  background-image:url("./img/vk.png") ;
}
.socials__item__icon__vk .socials__link:hover{
  background-image:url("./img/vk-hover.png") ;
}
.socials__item__icon__fb .socials__link{
  background-image:url("./img/f.png") ;
}
.socials__item__icon__fb .socials__link:hover{
  background-image:url("./img/f-hover.png") ;
}
.socials__item__icon__inst .socials__link{
  background-image:url("./img/in.png") ;
}
.socials__item__icon__inst .socials__link:hover{
  background-image:url("./img/in-hover.png") ;
}

.footer-container__content{
  border-top: 1px solid #353538;  
  margin: 0 auto;
  width: 1140px;
}
.main-page-wrapper{
  background: url("./img/main-wrapper.png") center top no-repeat, url("./img/wrapper_bottom.png") right bottom 141px no-repeat;
}