body{
  background: #001821;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.42;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
a{
  color: inherit;
}
.header{
  padding-top: 26px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__col{
  display: flex;
  align-items: center;
}
.header__col--align--right{
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}
.contacts{
  text-align: right;
  font-style:normal;
}
.contacts__text__footer{
  font-size: 11px;
  color: #9A9A9A;
}
.contacts__tel{
  font-size: 26px;
  line-height: 35.41px;
  text-decoration: none;
  margin-bottom: 40px;
}
.contacts__text{
  font-size: 13px;
  line-height: 8px;
  text-decoration: underline;
  color: #ffffff;
}
.contacts__text__active{
  color: #DA0100;
  text-decoration: underline;
}
.tours__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 781px;
}
.container{
  margin: 0 auto;
  width: 1140px;
}
.main{
  margin: 0 auto;
  width: 1140px;
  margin-bottom:57px ;
}
.logo{
  display: block;
  margin-right: 79px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

*{
  box-sizing: border-box;
}
h1,h2,h3,h4 {
  margin: 0;
  font-weight: normal;
}
p{
  margin-top: 0;
}
img{
  display: block;
  max-width: 100%;
}
nav.menu{
  width:70%;
}
.menu__item{
  display: inline;
  vertical-align: middle;
  margin-right:51px ;
}
.menu__item__active{
  color: #DA0100;
}
.menu__item:last-child{
margin-right: 0;
}
.menu__link{
  text-decoration: none;
}
.menu__link:hover{
  color: #DA0100;
}
.preview{
  width: 45%;
  margin-bottom: 246px;
}
.preview__title{
  font-size: 75px;
  line-height: 98px;
  font-weight: 600;
  margin-bottom: 30px;
  font-style: normal;
}
.preview__text{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 32.5px;
}
.button{
  display: inline-block;
  background: #F5170E;
  border: 1px solid #F5170E;
  padding: 17px 40px;
  color: #FFFFFF;
  text-transform:uppercase;
  text-decoration:none;
  font-weight: bold;
  line-height: 19px;
  border-radius: 35px
}
.button:hover{
  background: #DA0100;
  box-shadow: 0 0 25px 0 rgb(224, 71, 71,0.3);
}
.features{
  margin-bottom: 127px;
}
.features__title-text{
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin-bottom: 51px;
  display: inline-block;

}
.features__title-text:after{
  display: inline-block;
  content: "";
  height: 28px;
  width: 21px;
  margin-left:12px;
  background: url("./img/flame.png") center center / cover no-repeat;
}
.features__desc-block-calendar{
  display: flex;
  align-items: center;
}
.features__desc-block-meal{
  display: flex;
  align-items: center;
}
.features__desc-block-calendar:before{
  content: "";
  width: 36px;
  height: 26px;
  display: block;
  vertical-align: middle;
  background: url("./img/calendar.png") no-repeat;
  flex-shrink: 0;
}
.features__desc-block-meal:before{
  content: "";
  width: 46px;
  height: 26px;
  display: block;
  vertical-align: middle;
  background: url("./img/meal.png") no-repeat;
  flex-shrink: 0;
}

.features__list{
  display: flex;
  justify-content: space-between;
}
.features__item{
  min-height: 450px;
  width: calc(100%/3 - 19px);
  vertical-align: top;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.features-block{
  color: #303030;
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
}
.features__item:last-child{
  margin-right: 0;
}

.features__img-wrap{
  height: 144px;
  overflow: hidden;
}
.features__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features__content{
  padding: 35px 35px 22px 23px;
  flex:1;
  display: flex;
  flex-direction: column;
}
.features__subtitle{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.6px;
  margin-bottom: 20px;
}
.features__desc-text{
  line-height: 21px;
  margin-bottom: 24.5px;
}
.features__desc{
  margin-bottom: 22.5px;
  display: flex;
  justify-content: center;
}

.features__desc-block{
 padding-right: 35px;
}
.features__desc-block:last-child{
  display: inline-block;
  margin-right: 0;
}

.features__button-wrapper{
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}
.features__button{
  background: #ffffff;
  color: #F5170E;
}
.features__button:hover{
  background: #F5170E;
  color: #FFFFFF;
}
.features__button__active{
  background:  #F5170E;
  color: #ffffff;
}
.news__title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 51px;
}
.news__item{
  height: 392px;
  margin-right:2%;
  flex:1;
}
.single__news{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.news__item:last-child{
  margin-right: 0;
}
.single__news__icon-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
}
.single__news__text-content{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 31px;
  min-height: 165px;
}
.single__news__subtitle{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5.5px;
}
.single__news__text{
  font-size: 16px;
}
.news__list{
  margin-bottom: 51.5px;
  display: flex;
  justify-content: space-between;
}
.news{
  margin-bottom: 142.5px;
}
.single__news__date{
  display: inline-block;
  margin-bottom: 11px;
}

.paginator__display{
  margin-right: 25px;
  font-size: 16px;
}
.paginator{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator--theme--black{
  color: #000000;
}
.paginator--theme--black .paginator__item__active .paginator__link{
  background: #F5170E;
  color: #FFFFFF;
}
.paginator--theme--black .paginator__link:hover{
  background: #F5170E;
  color: #FFFFFF;
}
.paginator__list{
  display: flex;
  align-items: center;
}
.paginator__item{
  text-align: center;
}
.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}
.paginator__item__active .paginator__link{
  background: #FFFFFF;
  color: #F5170E;
}
.paginator__link:hover{
  background: #FFFFFF;
  color: #F5170E;
}

.about:before{
  display: block;
  content: "";
  width: 487px;
  height: 504px;
  background: url("./img/gates.png") center center / cover no-repeat;
}
.about{
  display: flex;
}
.about__us{
  overflow: hidden;
  margin-left: -138px;
  margin-top: 97px;
}

.about__content{
  background:url("./img/mountains.png") center center / cover no-repeat;
  position: relative;
  padding: 70px 150px 67px 81px;;
  background-position: top right;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  max-width: 780px;
  min-height: 454px;
  margin-left: auto;
  border-radius: 5px;
}
.about__title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 39px;
  color:#000000;
}
.about__text{
  color:#060606;
  font-size: 16px;
  margin-bottom: 69px;
  line-height: 27px;
}
.about__text p{
  margin-bottom: 20px;
}
.about__text p:last-child{
  margin-bottom: 0px;
}
.footer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container__section{
  margin-top: 22px;
  height: 100px;
}
.footer-container__content{
  border-top: 1px solid #353538;  
}
.footer-container{
  margin-top: auto;
}
.footer__col--align--right{
  justify-content: flex-end;
}
.footer__col{
  display: flex;
  align-items: center;
}
.socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.socials__item:last-child{
  margin-right: 0px;
}
.socials{
  margin-right: 74px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}
body,html{
  height: 100%;
}
.socials__item__icon__tg .socials__link{
  background-image:url("./img/telegram.png") ;
}
.socials__item__icon__tg .socials__link:hover{
 filter:invert(0.5) ;
}
.socials__item__icon__vk .socials__link{
  background-image:url("./img/vk.png") ;
}
.socials__item__icon__vk .socials__link:hover{
  filter: invert(0.5);
}
.socials__item__icon__fb .socials__link{
  background-image:url("./img/f.png") ;
}
.socials__item__icon__fb .socials__link:hover{
  filter: invert(0.5);
}
.socials__item__icon__inst .socials__link{
  background-image:url("./img/in.png") ;
}
.socials__item__icon__inst .socials__link:hover{
  filter: invert(0.5);
}

.main-page-wrapper{
  background: url("./img/main-wrapper.png") center top no-repeat, url("./img/wrapper_bottom.png") right bottom 141px no-repeat;
}

/* services page */
.top-line{
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24.5px;
  background: #001821 url("./img/headline_services.png") right 50% top no-repeat;
}
.top-line__container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-title{
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
  margin-top: 4px;
}
.breadcrumbs__list{
  display: flex;
  align-items: center;
}
.breadcrumbs__link{
  color: #DA0100;
}
.breadcrumbs__item--active .breadcrumbs__link{
  color: #9A9A9A;
  text-decoration: none;
} 
.breadcrumbs__item:after{
  content: "/";
  color: #9A9A9A;
}
.breadcrumbs__item:last-child:after{
  display: none;
}
.breadcrumbs__item{
  display: flex;
  align-items: center;
}
.page__content{
  background: #F2F2F2;
  color: #303030;
  padding: 79px 0;
  font-size: 16px;
}
.services{
  margin-bottom: 36px;
}
.service{
  display: flex;
  padding: 26px 0;
  text-decoration:none;
}
.service:hover{
  background: #e4e6e6;
}
.service:hover .service__button{
  background: #F5170E;
  color: #FFFFFF;
}
.service__img{
  width: 45%;
}
.service__content{
  flex: 1;
  padding: 12px 0;
}
.service__title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000000;
}
.service__desc{
  line-height: 27px;
  margin-bottom: 34px;
}
.inner-section{
  background: #ffffff;
  color: #1A1B1E;
  padding: 64px 0;
}
.inner-section--bg--grey{
  background: #e4e6e6;
}
.inner-section__title{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 82px;
}
.partners{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners__item{
  flex-basis: 24%;
  margin-bottom: 67px;
  text-align: left;
}
li.partners__item:nth-child(4n){
  text-align: right;
}
.partners__link{
  display: inline-block;
  filter: grayscale(1);
  transition: filter 0.3s;
}
.partners__link:hover{
  filter: grayscale(0);
}
li.partners__item img{
  display: inline-block;
}
.inner-footer__container{
  padding: 41px 0;
}
.inner-footer{
  margin-top: auto;
}